/* {
    background-color: yellow;
}

div {
    border: 2px solid red;
    margin: 20px;
}

 class selector denote by . */
/*.myclass {
    background-color: cadetblue;
}*/

/* ID selector denoted by # */
/*#myclass {
    background-color: crimson;
}*/